main
  .phone
    ul.message-list(aria-label='A list of random messages from a simulated server, styled to resemble a smartphone.' aria-live='polite' aria-relevant='additions')
    
  .text
    h1 408 &mdash; Request Timeout
    
    p The client did not produce a request within the time that the server was prepared to wait. The client MAY repeat the request without modifications at any later time.